.card-container {
  background-image: linear-gradient(
    to right bottom,
    #2e2e2e,
    #3c303e,
    #532f44,
    #6c2b3d,
    #7f2a2a
  );
  display: inline-block;
  border-radius: 0.5rem;
  padding: 10px;
  margin: 10px;
  border-width: 0.25rem;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-shadow: 1px 1px black;
}

.card-container:hover,
.card-container:focus {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  transform: scale(1.05);
}
.card-container:active {
  transform: scale(0.9);
}
