.search-box {
  padding: 15px;
}

.search-box input {
  color: white;
  background-color: #94517833;
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #945178;
  border-radius: 15px;
  width: 15rem;
  height: 2rem;
}
